/** Fonts used **/ @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,700');
select::-ms-expand {
display: none;
}
div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #fff url(../images/reload1.gif) no-repeat center center; background-size: 35px; }
select { -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none; background-image: url(../images/select-dd.png); background-position: right; background-repeat: no-repeat; border: 1px solid #c2c2c2; height: 30px; min-width: 50px; padding-left: 5px; padding-right: 20px; }
input[type="number"] { -webkit-appearance: none; -moz-appearance: textfield; -o-appearance: none; appearance: none; }
::-webkit-inner-spin-button {
-webkit-appearance: none;
}
::-webkit-outer-spin-button {
-webkit-appearance: none;
} /******** preload items ******/
body:before { content: url(../images/sort_desc.png) url(../images/sort_both.png) url(../images/sort_asc.png); display: none; } /***/
.n-box + a.cs-btn.btn-green { margin-bottom: 15px; } /***/
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
}
::selection { background: rgba(14, 120, 174, 0.6); color: #fff; }
::-moz-selection {
background: rgba(14, 120, 174, 0.6);
color: #fff;
}
.error { border-color: red !important; }
label.error { display: none !important; }
.group { position: relative; }
label.im-label { font-weight: normal; position: absolute; pointer-events: none; left: 15px; top: 29px; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; z-index: 10; }
.group input.is-focus ~ label.im-label, .group input.is-filled ~ label.im-label, .group textarea.is-focus ~ label.im-label, .group textarea.is-filled ~ label.im-label { left: 0; top: -8px; font-size: 12px; }
a { text-decoration: none !important; -webkit-transition: all 0.3s ease-in; -ms-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
*:focus { outline: none !important; }
img { max-width: 100% }
strong, b { font-weight: 700; }
i, em { font-style: italic; }
.clr { border: 0; clear: both; height: 0; }
html, body { width: 100%; height: 100%; }
h1, h2, h3, h4, h5, h6, p { font-weight: normal; margin: 0; }
body { background: #fff; color: #5a5959; font-family: 'Open Sans', sans-serif; font-size: 13px; -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px; }
a.edit-btn-1 { display: inline-block; margin: 0 0 0 10px; }
a.edit-btn-1 { border: 1px solid #c2c2c2; color: #6d6d6d; line-height: 1; min-width: 64px; padding: 5px 15px; text-align: center; }
@media (min-width:992px) {
.container { padding-left: 0; padding-right: 0; }
}
.mobile-header, .mobilemenu-hdr { display: none; }
.header { background: #fff; display: block; padding: 22px 20px; position: relative; width: 100%; z-index: 2; }
.logo { display: block; float: left; margin: 8px 0 0; width: 111px; }
.hdr-right { display: block; float: right; margin: 25px 0 0; max-width: 390px; width: 100%; }
.search-box { display: none; float: right; position: relative; width: 100%; }
.search-box input[type="text"], .search-box input[type="search"] { border: 1px solid #d6d6d6; display: block; font-family: 'Open Sans', sans-serif; font-size: 13px; height: 37px; padding: 0 40px 0 15px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; width: 100%; }
.search-box input[type="text"]:focus, .search-box input[type="search"]:focus { border-color: #0e78ae; }
.search-box input[type="submit"] { background: url(../images/srch-btn.png) no-repeat center; background-size: 15px; border: 0; display: block; height: 35px; padding: 0; position: absolute; right: 1px; text-indent: -99999999px; top: 1px; width: 35px; }
.user-info-top { display: block; float: right; margin: 0 0 15px; text-align: right; width: 100% }
.user-info-top h2 { font-size: 18px; margin: 25px 0 0; }
.user-info-top.new-user { margin-top: 25px; }
.user-info-top a { color: #056596; display: inline-block; vertical-align: middle; font-weight: 600; }
.user-info-top h3 { color: #777777; font-size: 13px; display: inline-block; vertical-align: middle; }
.user-info-top h3 a { color: #777; }
.user-info-top h3 a:hover { color: #333; }
.user-info-top .user-avatar { border-radius: 50%; display: inline-block; height: 35px; margin: 0 10px; overflow: hidden; vertical-align: middle; width: 35px; }
.main-wrap { display: block; height: 100%; }
.main-wrap.not-logged-in:before { display: none; }
.main-wrap:before { background: #0e78ae; content: ""; display: block; height: 100%; left: 0; position: fixed; top: 0; width: 18.5%; z-index: 1; }
.sidebar-left { background: #0e78ae; display: block; float: left; height: 100%; position: relative; width: 18.5%; z-index: 20; }
.sidebar-left ul { margin: 0; padding: 0; }
.sidebar-left ul li { display: block; font-size: 13px; font-weight: 600; list-style: none; margin: 0; position: relative; -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.sidebar-left ul li a { background: url(../images/bullets.png) no-repeat 16px center; color: #fff; display: block; padding: 18px 10px 18px 30px; }
.sidebar-left ul li:hover, .sidebar-left ul li.active { background: #094969; }
.sidebar-left ul ul { background: #094969; display: block; left: 100%; min-width: 235px; overflow: hidden; opacity: 0; position: absolute; top: 0; -webkit-transition: all 0.1s ease-in-out 0.3s; transition: all 0.1s ease-in-out 0.3s; visibility: hidden; width: auto; z-index: -1; }
.sidebar-left ul li:hover ul { opacity: 1; visibility: visible; }
.sidebar-left ul ul li a { background: none; padding-left: 25px; }
.sidebar-left ul ul li:hover, .sidebar-left ul ul li.active { background: #1891ce; }
.area-main { border-top: 1px solid #d9d9d9; display: block; float: right; padding: 20px; width: 81.5%; }
.area-main.user { border-top: 0; padding-top: 0; }
.top-hdr { display: block; float: left; padding: 0 0 18px; width: 100%; }
a.cs-btn, .cs-btn { border-radius: 16px; color: #fff; display: inline-block; font-size: 13px; line-height: 1; min-width: 100px; padding: 10px 22px; text-align: center; vertical-align: middle; transition-duration: 0.9s; -webkit-transition-duration: 0.9s; }
button.cs-btn, input.cs-btn { border: 0; }
a.cs-btn.btn-black { background: #434343; }
a.cs-btn.btn-black:hover { box-shadow: inset 300px 0 0 #121212; }
a.cs-btn.btn-blue { background: #0e78ae; }
a.cs-btn.btn-blue:hover { box-shadow: inset 300px 0 0 #094969; }
a.cs-btn.btn-green, .cs-btn.btn-green { background: #669633; }
a.cs-btn.btn-green:hover, .cs-btn.btn-green:hover { box-shadow: inset 300px 0 0 #427709; }
a.cs-btn.btn-gray { background: #7f7f7f; }
a.cs-btn.btn-gray:hover { box-shadow: inset 300px 0 0 #434242; }
a.cs-btn.btn-red { background: #e13209; }
a.cs-btn.btn-red:hover { box-shadow: inset 300px 0 0 #b02808; }
a.staff-del, a.not-allowed { color: #999; display: inline-block; position: relative; font-size: 18px; margin-left: 15px; top: -2px; vertical-align: middle; }
a.staff-del:hover, a.not-allowed:hover { color: red; }
a.not-allowed { cursor: not-allowed; }
tr.deletion td { background: rgba(255, 0, 0, 0.07); transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.top-hdr .pull-right a.cs-btn { margin-left: 10px; }
.section-hdr { background: #eaeaea; color: #151515; display: block; float: left; font-size: 18px; font-weight: 600; padding: 8px 20px; width: 100%; }
.collapsible-area .section-hdr { padding: 8px 15px; }
.section-hdr .pull-left { min-width: 300px; }
p.search-customer { max-width: 300px; position: relative; }
.sp-spinner { bottom: 23px; color: #0E78AE; font-size: 24px; position: absolute; right: -28px; }
.section-hdr h3 { color: #151515; font-size: 18px; font-weight: 600; margin: 0; }
.section-hdr h3 + p { margin: 8px 0 0px; }
span.sepr { color: #848484; display: inline-block; position: relative; top: -3px; vertical-align: middle; }
.section-hdr p { color: #565656; font-size: 13px; }
.date-time { color: #151515; display: block; font-size: 13px; margin: 24px 0 0; }
.date-time.addr { min-width: 220px; }
td.dataTables_empty { height: 100px !important; padding: 0; vertical-align: middle; }
table .fa.blue { color: #109beb; font-size: 18px; }
table .fa.gray { color: #989898; font-size: 18px; }
table.data-tbl { border: 0; width: 100%; }
table.data-tbl tfoot, table.staff-tbl tfoot { display: none !important; }
table.data-tbl th { background: #056596; color: #fff; font-size: 14px; font-weight: 600; height: auto; padding: 12px 5px; text-align: left; }
table#example th:last-child { text-align: center; }
table.data-tbl td { border-bottom: 1px solid #ececec; color: #696969; font-size: 13px; height: 45px; padding: 8px 5px; text-align: left; }
table.data-tbl tr:last-child td { border: 0; }
table.data-tbl td:first-child { width: 50px; text-align: center; vertical-align: middle; }
table.data-tbl td:last-child, table.data-tbl td:nth-last-child(2), table.data-tbl th:nth-last-child(2), table.data-tbl th:nth-last-child(3), table.data-tbl td:nth-last-child(3) { text-align: center; }
table.data-tbl td:nth-last-child(2) { text-transform: uppercase; }
a.view-btn, a.edit-btn { border: 1px solid #c2c2c2; color: #6d6d6d; display: inline-block; line-height: 1; min-width: 64px; padding: 5px 15px; text-align: center; }
a.view-btn:hover, a.edit-btn:hover { border-color: #0e78ae; color: #0e78ae; }
.table-responsive { float: left; margin-bottom: 30px; width: 100%; }
.gen-ins-area { display: block; float: left; padding: 25px 0 30px; width: 100%; }
.modal .gen-ins-area { padding: 25px 0 0px; }
.cs-form::-webkit-input-placeholder {
color: #6a6a6a;
opacity: 1 !important;
}
.cs-form:-moz-placeholder {
color: #6a6a6a;
opacity: 1 !important;
}
.cs-form::-moz-placeholder {
color: #6a6a6a;
opacity: 1 !important;
}
.cs-form:-ms-input-placeholder {
color: #6a6a6a;
opacity: 1 !important;
}
.cs-form input[type="text"], .cs-form input[type="number"], .cs-form input[type="password"], .cs-form input[type="email"], .cs-form input[type="tel"], .cs-form input[type="search"], .cs-form select, select.cs-select, .cs-form textarea, #example_filter input[type="search"], .search-customer input[type='text'] { background-color: #fff; border: 1px solid #c2c2c2; border-radius: 0; color: #424242; font-size: 13px; height: 45px; margin: 15px 0; padding: 0 15px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; width: 100%; -webkit-appearance: none; }
.gen-ins-area [class^='col-'] { min-height: 45px; }
.cs-form textarea { height: 85px; padding: 10px 15px; resize: none; }
.cs-form input[type="text"]:focus, .cs-form input[type="number"]:focus, .cs-form input[type="password"]:focus, .cs-form input[type="email"]:focus, .cs-form input[type="tel"]:focus, .cs-form input[type="search"]:focus, .cs-form textarea:focus, #example_filter input[type="search"]:focus, .search-customer input[type='text']:focus, .cs-form select:focus, select.cs-select:focus { border-color: #0e78ae; }
.cs-form p { color: #333333; font-weight: 600; vertical-align: middle; }
.cs-form label { color: #6a6a6a; font-size: 13px; font-weight: normal; }
input[type='radio'] { display: none; }
span.custm-radio { background: #fff; border: solid 1px #b7b7b7; cursor: pointer; display: inline-block; height: 11px; margin-right: 3px; position: relative; top: 1px; width: 11px; }
input[type='radio']:checked + span.custm-radio { background: #6a6a6a; }
label.cstm-radio, .cs-radio label { cursor: pointer; font-weight: normal; margin-right: 10px; }
.cs-radio label { margin-left: 10px; margin-right: 0; }
.cs-radio input[type="text"] { display: inline-block; height: 42px; margin: 0 0 0 12px; vertical-align: middle; width: 104px; }
.actions { display: block; float: left; margin: 20px 0 0; padding: 0; text-align: right; width: 100%; }
p.label { margin: 0 0 12px; color: #333333; }
.text-left { text-align: left !important; }
.actions p { color: #6a6a6a; font-size: 13px; line-height: 1; }
.actions a { color: #060606; font-weight: 600; }
.actions a.cs-btn { color: #fff; font-weight: 400; margin-left: 15px; }
.actions.text-left a.cs-btn { margin-left: 0; margin-right: 20px; }
.addons { background: #f7f7f7; display: block; float: left; padding: 20px; width: 100%; }
.addons table { margin: 0; width: 100%; }
.addons table td { color: #565656; font-size: 12px; text-transform: uppercase; vertical-align: top; }
.addons table td span { display: inline-block; margin: 0 4px 0 0; vertical-align: top; }
.addons table td a { color: #565656; }
.addons table td a:hover { color: #151515; }
.addons table td:first-child { color: #151515; font-size: 13px; font-weight: 600; padding-right: 20px; }
.gws { margin: 20px 0 10px; }
.heading { background: #eaeaea; color: #151515; font-size: 20px; font-weight: 600; padding: 10px 15px; }
.heading.dark { background: #525a5e; color: #fff; margin-bottom: 20px; }
.user-info-tbl { border-bottom: 1px solid #e9e9e9; margin: 0 0 25px; padding: 0 0 25px; }
.user-info-tbl table { margin: 0; max-width: 600px; width: 100%; }
.user-info-tbl table td { color: #6a6a6a; font-size: 14px; padding: 15px; }
.user-info-tbl table td:first-child { color: #094969; font-weight: 600; width: 175px; }
table.staff-tbl { border: 0; width: 100%; }
table.staff-tbl th { background: #525a5e; color: #fff; font-size: 14px; font-weight: 600; height: auto; padding: 12px 15px; text-align: left; }
table.staff-tbl td { border-bottom: 1px solid #ececec; color: #696969; font-size: 13px; height: 45px; padding: 2px 15px; text-align: left; }
table.staff-tbl tr:last-child td { border: 0; }
table.staff-tbl td:last-child { width: 115px; }
table.staff-tbl td:last-child, table.staff-tbl td:nth-last-child(2), table.staff-tbl th:nth-last-child(2) { text-align: center; }
table.staff-tbl td:nth-last-child(2) { text-transform: uppercase; }
.user-info-tbl input[type="text"] { background-color: #fff; border: 1px solid #c2c2c2; border-radius: 0; color: #424242; font-size: 13px; height: 45px; padding: 0 10px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; width: 100%; -webkit-appearance: none; }
.user-info-tbl input[type="text"]:focus { border-color: #0e78ae; }
.text-upper { text-transform: uppercase; }
.fa-sort { cursor: pointer; }
.cs-popup .modal-dialog { max-width: 465px; width: 85%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) !important; margin: auto; }
a.close-pop { background: #fff; border: 1px solid #fff; border-radius: 50%; color: #000; display: block; height: 25px; font-size: 23px; line-height: 20px; position: absolute; right: -12px; text-align: center; top: -12px; width: 25px; }
a.close-pop:hover { color: #f00; }
.cs-popup .modal-content { background-color: #f2f2f2; border: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; float: left; padding: 15px; width: 100%; }
.cs-popup .table-responsive { margin-bottom: 25px; }
.cs-popup .table-responsive td { background: #fff; color: #000; border: 0; font-size: 15px; font-weight: 400; padding: 12px; padding-left: 35px; text-align: left; width: 50%; }
.cs-popup .table-responsive tr:first-child td { padding-top: 30px; }
.cs-popup .table-responsive tr:last-child td { padding-bottom: 30px; }
.cs-popup .table-responsive td:first-child { background: #056596; color: #fff; text-align: left; }
.cs-popup .table-responsive td:last-child { text-align: left; }
.cs-popup .cs-btn { margin-bottom: 15px; }
.text-center { text-align: center; }
.hrs { display: inline-block; position: relative; }
.hrs label { font-weight: 600; left: 25px; margin: 0; position: absolute; top: 12px; }
.hrs input { padding-left: 50px !important; }
.hrs input.basic { padding-left: 60px !important; -webkit-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; width: 120px; }
.hrs input.intermediate { padding-left: 110px !important; -webkit-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; width: 165px; }
.hrs input.full { padding-left: 50px !important; -webkit-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; width: 110px; }
.dataTables_info { background: #e5e5e5; border: 1px solid #d2d2d2; border-right: 0; display: block; float: left; font-size: 15px; font-weight: 600; line-height: 24px; padding: 10px; width: 50%; }
.dataTables_paginate { background: #e5e5e5; border: 1px solid #d2d2d2; border-left: 0; display: block; float: right; padding: 10px; text-align: right; width: 50%; }
.dataTables_paginate a { background: #056596; color: #fff; cursor: pointer; display: inline-block; font-weight: 600; line-height: 18px; margin: 0 0 0 5px; padding: 3px 8px; }
.dataTables_paginate span.ellipsis { margin: 0 0 0 5px; }
.dataTables_paginate a:hover { background: #666; }
table.invetry td:last-child { text-align: left; }
.area-main.login-page { background: #0e78ae; height: 100%; border-top: 0; width: 100%; }
.login-box { background: #fff; box-shadow: 0 0 0 6px rgba(6, 80, 117, 0.5); margin: 100px auto 0; max-width: 330px; padding: 30px; padding-bottom: 25px; }
.login-box h3 { color: #434343; font-size: 22px; font-weight: 600; margin: 0 0 32px; text-align: center; }
.login-box input[type="text"], .login-box input[type="password"] { border: 0; border-bottom: 1px solid #c0c0c0; font-size: 16px; height: 32px; }
.login-box .cs-btn { border: 0; display: block; margin: 0 auto 20px; text-align: center; text-transform: uppercase; width: 98px; }
.login-box a { color: #646464; }
.login-box a:hover { color: #000; }
.login-box div#message { font-size: 12px; text-align: center; }
.login-box div#message .error { background: rgba(255, 0, 0, 0.14); border: 1px solid rgba(255, 0, 0, 0.77); border-radius: 4px; line-height: 1.4; padding: 5px; color: red; }
.login-box div#message .success { background: rgba(60, 118, 61, 0.16); border: 1px solid #3c763d; border-radius: 4px; line-height: 1.4; padding: 5px; color: #035204; }
div#example_wrapper { padding: 15px 0 0; float: left; width: 100%; }
div#example_length { float: left; margin: 0 0 10px; width: 50%; }
div#example_length select { -webkit-appearance: none; border-radius: 0; height: 30px; }
div#example_filter { display: block !important; float: left; width: 50%; }
#example_filter label { display: block; float: right; font-weight: 600; }
#example_filter input[type="search"] { -webkit-appearance: none; border-radius: 0; display: block; height: 30px; font-weight: normal; margin: 0; min-width: 300px; padding: 0 10px; }
table.staff-tbl thead th:last-child { background-image: none; cursor: default; }
td[colspan] { padding: 0 !important; }
td[colspan] table { background: #f6f6f6; width: 100%; }
td[colspan] table tr:first-child td { padding-bottom: 0; }
td[colspan] table td { height: 22px; padding-bottom: 10px; text-align: left !important; vertical-align: top; }
tr.shown { background: #f6f6f6; }
tr.shown td { border-bottom: 0; }
tr.shown i.fa.fa-angle-down { transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; }
tr.row-collapse td { background: #f6f6f6 !important; border-bottom: 0 !important; color: #434343; font-size: 12px; font-weight: 700; text-transform: capitalize; }
tr.row-collapse td:first-child { width: 19.8%; }
tr.row-collapse td:nth-child(2) { width: 19.3%; }
tr.row-collapse td:nth-child(3) { text-align: left; width: 27.5%; }
tr.row-collapse td:nth-last-child(2) { text-transform: capitalize; }
tr:empty { display: none; }
.row-toggler { display: none; cursor: pointer; font-size: 18px; }
.dataTables_wrapper { display: block; float: left; width: 100%; }
.dataTables_length label { font-weight: 600; }
div#DataTables_Table_0_length, div#DataTables_Table_1_length { display: block; width: 50%; margin: 20px 0; float: left; }
div#DataTables_Table_0_length label, div#DataTables_Table_1_length label { line-height: 30px; font-weight: 600; }
div#DataTables_Table_0_length label input, div#DataTables_Table_1_length input { height: 30px; }
div#DataTables_Table_0_filter, div#DataTables_Table_1_filter { display: block; float: right; margin: 20px 0; width: 50%; text-align: right; }
div#DataTables_Table_0_filter input, div#DataTables_Table_1_filter input { -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; border: 1px solid #d6d6d6; display: inline-block; font-family: 'Open Sans', sans-serif; font-size: 13px; height: 30px; margin-left: 0px; max-width: 300px; padding: 0 40px 0 15px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; vertical-align: middle; width: 100%; }
div#DataTables_Table_0_filter input:focus, div#DataTables_Table_1_filter input:focus { border-color: #0e78ae; }
div#DataTables_Table_0_length label, div#DataTables_Table_0_filter label, div#DataTables_Table_1_filter label { font-size: 14px; font-weight: 600; margin: 0; }
label#uerror, label#perror { color: red; display: block; font-size: 12px; margin-bottom: 10px; margin-top: -5px; }
.tb-scroll-nav { display: none; }
.cs-popup#myModal2 .table-responsive { margin-bottom: 0; }
.box { /*border: 1px solid #c2c2c2;*/ margin: 0 0/*19px*/ 8px; /*padding:10px 15px;*/ }
label.box-title { margin: 0 0 5px; min-height: 14px; }
.add-more { display: block; float: left; line-height: 75px; }
.add-more a { color: #6a6a6a; font-size: 14px; }
.add-more a:hover { color: #0e78ae; }
.add-more.valign { display: block; float: none; line-height: 22px; margin: 15px 0 0; }
.add-more.valign + .add-more.valign { margin-top: 0; }
.collapsible-area { border: 1px solid #DEDEDE; float: left; margin: 20px 0 0; width: 100%; }
.section-hdr { position: relative; }
.close { position: absolute; right: 15px; top: 10px; }
.close .fa { font-size: 20px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); }
.search-customer #user_list { display: block; margin-bottom: 8px; margin-top: -16px; }
.search-customer #user_list:empty { display: none !important; }
.search-customer #result { background: #e3e0e0; border: 1px solid #d5d5d5; max-height: 400px; overflow-y: scroll; }
.search-customer #result .curr_row, .inv_row { cursor: default; font-weight: normal; padding: 5px; }
.search-customer #result .curr_row:nth-of-type(2n), .inv_row:nth-of-type(2n) { background: #D8D8D8; }
.search-customer #result .curr_row:hover, .inv_row:hover { background: #bbdaea; }
.inventory { position: relative; }
.inv_result { background: #e5e5e5; border: 1px solid #CECECE; max-height: 330px; overflow-y: auto; position: absolute; top: -10px; width: 100%; z-index: 999; }
.change-pw { float: left; margin: 20px 0 0; max-width: 600px; width: 100%; }
.change-pw .table-responsive, #editFromToggle .table-responsive { background: #F5F5F5; margin: 0; padding: 15px; }
#fromToggle .gen-ins-area { background: #F5F5F5; padding: 20px; }
.footer { background: #056596; color: #fff; display: block; float: left; padding: 10px; position: relative; text-align: center; width: 100%; z-index: 99; }
.footer p { font-size: 13px; margin: 0; }
.footer a { color: #fff; }
.footer a:hover { opacity: 1; }
.alert { padding: 10px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; position: absolute; top: 5px; left: 20%; right: 20%; z-index: 10; }
.alert h4 { margin-top: 0; color: inherit; }
.alert .alert-link { font-weight: bold; }
.alert > p, .alert > ul { margin-bottom: 0; }
.alert > p + p { margin-top: 5px; }
.alert-dismissable, .alert-dismissible { padding-right: 35px; }
.alert-dismissable .close, .alert-dismissible .close { position: relative; top: -2px; right: -21px; color: inherit; }
.alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.alert-normal { color: #094969; background-color: #B4E6FF; border-color: #7CCBF3; }
.alert-success hr { border-top-color: #c9e2b3; }
.alert-success .alert-link { color: #2b542c; }
.alert-info { color: #31708f; background-color: #d9edf7; border-color: #bce8f1; }
.alert-info hr { border-top-color: #a6e1ec; }
.alert-info .alert-link { color: #245269; }
.alert-warning { color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; }
.alert-warning hr { border-top-color: #f7e1b5; }
.alert-warning .alert-link { color: #66512c; }
.alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.alert-danger hr { border-top-color: #e4b9c0; }
.alert-danger .alert-link { color: #843534; }
.notification-area { max-width: 630px; padding: 20px; }
a.edit-btn { display: inline-block; margin: 0 0 0 10px; }
.edit-wrksheet .gen-ins-area { background: #F3F3F3; padding: 15px; }
.table-responsive .gen-ins-area { background: transparent; padding: 5px; }
.customer-profile { display: block; float: left; margin: 0 0 50px; width: 100%; }
.customer-profile .section-hdr { margin: 0 0 32px; }
.cust-wrap { display: block; float: left; margin: 0 0 30px; position: relative; width: 100%; }
.cust-pro-img { display: block; float: left; width: 11%; }
.cust-pro-img img { max-width: 116px; width: 100%; }
.cust-info { display: block; float: right; padding: 0 0 0 35px; width: 89%; }
.cust-info h2 { color: #404040; font-size: 18px; font-weight: 600; margin: 0 0 15px; }
a.edit-btn-pro { background: #898989; color: #fff; display: block; float: right; font-size: 13px; font-weight: normal; line-height: 1; margin: 0 20px 0 0; min-width: 64px; padding: 8px 15px; text-align: center; }
a.edit-btn-pro:hover, a.view-btn-pro:hover { background: #0E78AE; }
form#update-customer { position: relative; }
a.view-btn-pro { background: #898989; color: #fff; display: block; float: right; font-size: 13px; font-weight: normal; line-height: 1; margin: 0; min-width: 64px; padding: 8px 15px; position: absolute; right: 20px; text-align: center; top: 0; }
.cust-info p { color: #686868; font-size: 13px; line-height: 20px; margin: 0 0 10px; }
.cust-info p.phone, .cust-info p.email, .cust-info p.mobile, .cust-info p.home-addr, .cust-info p.cott-addr { padding: 0 0 0 24px; position: relative; }
.cust-info p.phone:before, .cust-info p.email:before, .cust-info p.mobile:before, .cust-info p.home-addr:before, .cust-info p.cott-addr:before { content: ""; font: normal normal normal 14px/1 FontAwesome; position: absolute; left: 0; top: 4px; }
.cust-info p.phone:before { content: "\f095"; font-size: 16px; }
.cust-info p.email:before { content: "\f0e0"; }
.cust-info p.mobile:before { content: "\f10b"; font-size: 22px; left: 2px; top: 0px; }
.cust-info p.home-addr:before { content: "\f015"; font-size: 18px; top: 1px; }
.cust-info p.cott-addr:before { content: "\f1ad"; left: 2px; } /*div#result { color: green; font-size: 16px; padding: 20px 0 0; text-align: center;}*/ /*tr.open td { background: #DEEDF5;} tr.open td a.view-btn, tr.open td a.edit-btn { border-color: #0e78ae; color: #0e78ae;} */ /*** new css by Thakur ***/
.table_calndr th:nth-child(2n+1) { background-color: #0e78ae; }
.table_calndr th:nth-child(2n) { background-color: #0e6794; }
.timeshts_cont .recen_cont { background-color: #9b9b9b; }
.timeshts_cont { float: left; margin: 36px 0 26px; width: 100%; }
.clndr_lft { float: left; width: 19.1%; position: relative; }
.clndr_rt { background: #fff none repeat scroll 0 0; float: right; width: 79.2%; }
.clndr_lft span { background-color: #ebebeb; display: inline-block; min-height: 169px; vertical-align: top; width: 100%; }
.clndr_lft strong { color: #474747; font-size: 25px; font-weight: normal; left: 0; margin: -51px auto 0; padding: 0 10px; position: absolute; right: 0; text-align: center; top: 50%; width: 100%; }
.calndr_cont { margin-top: 25px; }
.table_calndr th { font-size: 14px; padding: 13px 0; text-align: center; width: 171px; }
.table_calndr td { padding: 9px 0; font-size: 14px; color: #5b5b5b; text-align: center; }
.table_calndr th { color: #fff; }
.total_hrs { display: inline-block; vertical-align: top; width: 100%; }
.total_hrs table { float: right; }
.recen_cont .inner_pdng { float: left; width: 100%; background: #ebebeb; margin: 0 0 20px; padding: 15px 20px; text-align: center; }
.recen_cont .inner_pdng .date.pull-right, .recen_cont .inner_pdng .date.pull-left { font-size: 20px; font-weight: 600; color: #505050; float: none !important; }
.recen_cont .inner_pdng .date.pull-left { float: left !important; font-size: 18px; }
a.navbtn { display: inline-block; background: #0e78ae; padding: 8px 20px; border-radius: 20px; font-size: 14px; line-height: 1; color: #fff; }
a.navbtn.left { float: left; }
a.navbtn.right { float: right; }
a.navbtn:hover { background: #636161; color: #fff; }
.close_container.custmr_edt_cnt { background: #f9f9f9; padding: 15px; }
.box.add_cust_box { float: left; width: 100%; }
.selectn_box { display: inline-block; vertical-align: top; width: 100%; }
 .selectn_box a, {
 font-size: 0;
 position: absolute;
 right: -4px;
 top: 48%;
}
.asd.new-added { position: relative; }
a.remove-new-added { position: absolute; right: -25px; top: 10px; font-size: 18px; }
.selectn_box select { margin-top: 0; }
.clndr_lft { float: left; width: 19.1%; position: relative; }
.clndr_rt { background: #fff; float: right; width: 79.2%; }
.clndr_rt .recen_cont .inner_pdng { margin: 0; }
.clndr_rt .date { color: #1f1f1f; }
.clndr_rt .recen_cont { background-color: #ebebeb; }
.mn_clndr { display: block; float: left; margin: 0 0 39px; width: 100%; }
.table_calndr tr { border-bottom: 1px solid #ccc; }
.table_calndr tr:last-child { border: 0; }
.historical-invoides table { margin: 0; }
.historical-invoides h4 { margin-top: 0; }
.historical-invoides .edit_table { margin: 37px 0 9px; }
.new_cstmr .top_inpt li:nth-child(3n) { margin-left: 0; margin-right: 0; }
.new_cstmr .top_inpt li { margin-bottom: 13px; }
.new_cstmr select { width: 100%; height: 43px; color: #5b5b5b; font-size: 14px; width: 100%; border: 1px solid #d5d5d5; padding: 0 13px; border-radius: 4px; }
.new_cstmr select:focus { border-color: #a1a1a1; outline: none; }
.new_cstmr .btn_deit { margin-top: 10px; }
.new_custmer { display: inline-block; width: 100%; position: relative; vertical-align: top; margin: 32px 0 0; }
a.close_new { float: right; text-align: right; width: auto; }
.new_custmer a.close_new { position: absolute; right: 6px; top: 10px; }
.new_custmer h4.close_title { background: #eaeaea; color: #151515; display: block; float: left; font-size: 18px; font-weight: 600; padding: 8px 20px; width: 100%; margin-top: 0; }
.new_custmer i { font-size: 19px; }
.col-1 { float: left; margin: 0 0.9% 0 0; width: 32.730%; }
.col-1 h4 { color: #1f1f1f; font-size: 14px; font-weight: bold; margin: 0 0 12px; min-height: 20px; }
.cstm-wid ul { margin: 0; padding: 0; }
.cstm-wid ul li { list-style: none; }
.cstm-wid li:last-child, .col-1:last-child { margin: 0; }
.cstm-wid { display: inline-block; vertical-align: top; width: 100%; }
.col-1 li { float: left; margin: 0 0 9px 0; width: 100%; }
.col-1.second-col-1 { width: 36%; }
.second-col-1 h4 { width: 18%; display: inline-block; vertical-align: top; margin: 0 0 0; }
.second-col-1 ul { display: inline-block; width: 81%; }
.col-1.last-col-1 { width: 29%; text-align: right; }
.last-col-1 button.custom.edit_cstm { display: inline-block; vertical-align: top; }
.last-col-1 .gen_report { display: inline-block; vertical-align: top; }
.last-col-1 a.custom.edit_cstm { width: 100px; margin: 0 0 0 5px; }
.custom:hover, .group-span-filestyle .btn.btn-default:hover, .custom.active, .view_btn a.custom:hover { background-color: #b79b69; color: #fff; }
.result_edit .alert, .result .alert { border: 1px solid transparent; background: transparent; font-size: 16px; color: #876951; text-align: center; padding: 10px 0; }
.result_edit .alert.alert-success, .result .alert.alert-success, .result .alert.alert-info { border-color: #3c763d; color: #3c763d; }
.result .alert.alert-danger { color: #a94442; border: 1px solid #ebccd1; }
.result .alert.alert-warning { color: #8a6d3b; border: 1px solid #faebcc; }
.result_edit .alert.alert-error { border-color: red; color: #a94442; }
div#editFromToggle { text-align: center; margin: 18px 0 0; }
a.staff-del { vertical-align: middle; /* margin: 7px 0; */ display: inline-block; margin: 1px 0 0 6px; }
.gen_report a.custom.edit_cstm { min-width: 100px; width: auto; }
/**Thakur**/
.group div[class*="_filter"] { background: #e8e8e8; border: 1px solid #c2c2c2; border-top: 0; margin-top: -16px; max-height: 200px; overflow: auto; position: absolute; width: 100%; z-index: 5; }
.group div[class*="_filter"] ul { margin: 0; padding: 0; list-style: none; }
.group div[class*="_filter"] ul li { display: block; font-size: 13px; }
.group div[class*="_filter"] ul li a { color: #333; display: block; padding: 7px 10px; }
.group div[class*="_filter"] ul li:hover a { background: #d0d0d0; }
/*==========closed=========*/
/***** Responsive starts here *****/
@media only screen and (max-width:1399px) {
.second-col-1 h4 { width: 24%; }
.second-col-1 ul { width: 76%; margin-left: -4px; }
}
 @media only screen and (max-width:1100px) {
.cstm-wid .col-1 { margin: 0; width: 100%; }
.col-1.second-col-1 { width: 96%; }
.col-1.last-col-1 { width: 100%; text-align: left; }
}
 @media (max-width:991px) {
.login-box { margin: 30px auto 0; }
.sidebar-left ul li a { background-position: 10px center; padding: 13px 10px 13px 20px; }
.hdr-right { max-width: 330px; }
table.data-tbl th { font-size: 13px; padding: 8px 5px; white-space: nowrap; }
table.data-tbl td:last-child { min-width: 115px; }
a.view-btn, a.edit-btn { min-width: 40px; padding: 5px 8px; }
.cs-form input[type="text"], .cs-form input[type="password"], .cs-form input[type="number"], .cs-form input[type="email"], .cs-form input[type="tel"], .cs-form input[type="search"], .cs-form select, .cs-form textarea, #example_filter input[type="search"], .search-customer input[type="text"] { font-size: 12px; height: 36px; padding: 0 8px; }
.cs-form textarea { height: 85px; padding: 7px 9px; }
.dataTables_info { border-bottom: 0; border-right: 1px solid #d2d2d2; text-align: center; width: 100%; }
.dataTables_paginate { border-left: 1px solid #d2d2d2; text-align: center; width: 100%; }
.row { margin-left: -8px; margin-right: -8px; }
[class*="col-"] {
padding-left: 8px;
padding-right: 8px;
}
.area-main { padding: 20px 13px; }
.section-hdr .pull-left, .section-hdr .pull-right { max-width: 100%; width: 100%; }
.section-hdr { padding: 8px 10px; }
.date-time { margin: 0; }
.add-more { line-height: 66px; }
label.im-label { left: 10px; top: 24px; }
.cust-pro-img { width: 16%; }
.cust-info { padding: 0 0 0 20px; width: 84%; }
.cust-info p.phone, .cust-info p.email, .cust-info p.mobile, .cust-info p.home-addr, .cust-info p.cott-addr { white-space: normal; word-break: break-word; }
.add-more.valign { line-height: 16px; margin: 18px 0 0; }
.clndr_lft { width: 100%; background: #ebebeb; }
.clndr_lft span { display: none; }
.clndr_lft strong { padding: 10px; margin: 0; position: static; display: block; line-height: 1; }
.clndr_rt { width: 100%; }
}
@media (max-width:767px) {
.header { padding: 10px 15px; position: static; }
.logo { margin: 0; width: 90px; }
.hdr-right { max-width: 100%; position: absolute; top: 7px; margin: 0; right: 10px; }
.user-info-top { margin: 0; }
.user-info-top h3, .user-info-top a { color: #fff; }
.login-box { margin: 20px auto 0; }
.main-wrap:before { display: none; }
.sidebar-left { display: block; }
.area-main { width: 100%; }
.main-wrap.not-logged-in .gen-ins-area { padding: 0px 0 30px; width: 100%; } /***/
.mobile-header { background: #0e78ae; display: block; min-height: 47px; padding: 15px 5px; position: relative; }
.mobilemenu-hdr { background: #000; color: #fff; display: block; font-size: 16px; padding: 10px 15px; }
body.no-header .mobile-header { display: none !important; }
.btnSliderMenu { background: none; border: 0; display: block; color: #fff !important; left: 10px; overflow: hidden; padding: 0; position: relative; text-decoration: none; transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; z-index: 10; }
.btnSliderMenu span.bars { background: #fff; border-radius: 2px; -webkit-border-radius: 2px; display: block; height: 3px; width: 22px; transition: all .3s ease; -webkit-transition: all .3s ease; }
.btnSliderMenu span.bars + span.bars { margin-top: 4px; }
.btnSliderMenu.btnClose { background: #212121; border-radius: 4px; padding: 5px 3px; }
.btnSliderMenu.btnClose span.bars:nth-child(1) { transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); position: relative; top: 7px }
.btnSliderMenu.btnClose span.bars:nth-child(2) { opacity: 0 }
.btnSliderMenu.btnClose span.bars:last-child { transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); position: relative; top: -7px }
.btnSliderMenu span.bars:last-child, .btnSliderMenu span.bars:nth-child(1), .btnSliderMenu span.bars:nth-child(2) { opacity: 1; top: 0; transform: rotate(0); -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0) }
.btnSliderMenu.btnClose { left: 252px; position: fixed; top: 10px; }
.btnSliderMenu:hover, .btnSliderMenu:visited { color: #fff; }
.btnSliderMenu .fa.fa-times, .btnSliderMenu.btnClose .fa.fa-bars { display: none; }
.btnSliderMenu.btnClose .fa.fa-times { display: block; }
.sliderMenuContainer { position: fixed; top: 0; left: -250px; width: 250px; height: 100%; background: #212121; overflow: auto; transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; }
.sliderMenuContainer>ul { padding-bottom: 40px; }
.sliderMenuContainer.open { left: 0; }
.sidebar-left ul li.has-dd .fa { float: right; font-size: 20px; position: relative; top: 0px; transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; }
.sidebar-left ul li.has-dd.opened .fa { transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.sidebar-left ul li a { background-image: none; padding: 12px 15px; }
.sidebar-left ul li ul { background: #2A2A2A; display: block; overflow: hidden; position: static; }
.sidebar-left ul li ul li a { margin-top: -50px; }
.sidebar-left ul li ul.pk li a { margin-top: 0; }
div#DataTables_Table_0_length, div#DataTables_Table_1_length { margin: 10px 0; width: 100%; }
div#DataTables_Table_0_filter, div#DataTables_Table_1_filter { margin: 0 0 10px 0; width: 100%; text-align: left; }
table.data-tbl td { min-width: 100px; }
table.data-tbl td:first-child, table.data-tbl th:first-child { display: none; }
.modal-content table td:first-child, .modal-content table th:first-child { display: table-cell !important; }
div#example_length, div#example_filter { width: 100%; }
#example_filter label { width: 100%; }
#example_filter input[type="search"] { min-width: 260px; margin: 0 0 10px; width: 100%; max-width: 260px; }
div#DataTables_Table_0_filter input, div#DataTables_Table_1_filter input { display: block; margin-left: 0px; }
.responsive-table { min-height: .01%; overflow-x: auto; overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar; position: relative; width: 100%; }
.section-hdr .pull-left { max-width: 100%; min-width: 100%; }
table.dataTable th, table.dataTable td { min-width: 120px; }
.actions p { line-height: 3; }
.scroll-btn-left, .scroll-btn-left1, .scroll-btn-right, .scroll-btn-right1 { background: #fff; border: 1px solid #cfcfcf; color: #afafaf; cursor: pointer; display: block; float: left; font-size: 10px; height: 22px; line-height: 20px; text-align: center; transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; width: 22px; }
.scroll-btn-left:hover, .scroll-btn-left1:hover, .scroll-btn-right:hover, .scroll-btn-right1:hover { background: #0e78ae; border-color: #0e78ae; color: #fff; }
.scroll-btn-right, .scroll-btn-right1 { float: right; }
[class*=scroll-btn] .fa { }
.tbl-1, .tbl-2 { position: relative; } /*.tb-scroll-nav { display:block; left: 0; margin: 140px 0 0; padding: 0 15px; position: absolute; width: 100%; z-index: 10; } .responsive-table { padding: 40px 0 0; }*/
.cs-popup .table-responsive tr:first-child td { padding-top: 8px; }
.cs-popup .table-responsive tr:last-child td { padding-bottom: 8px; }
.cs-popup .table-responsive td { padding: 8px; padding-left: 8px; }
.cs-popup .table-responsive { margin-bottom: 15px; }
.cs-popup .cs-btn { margin-bottom: 0; }
div#example_wrapper { padding: 10px 0 0; }
#example_filter input[type="search"] { height: 30px; }
.cs-form input[type="text"], .cs-form input[type="password"], .cs-form input[type="number"], .cs-form input[type="email"], .cs-form input[type="tel"], .cs-form input[type="search"], .cs-form select, .cs-form textarea, #example_filter input[type="search"], .search-customer input[type="text"] { padding: 0 5px; }
.cs-form textarea { padding: 5px; }
.gen-ins-area [class^='col-'] { min-height: 100%; }
.gws { margin: 0 0 10px; }
.hrs label { left: 13px; top: 9px; }
#editFromToggle .pull-left, #editFromToggle .pull-right { width: 100%; }
.table-responsive .gen-ins-area { padding: 0; }
.inv_result { left: auto; min-width: 240px; right: 0; }
label.box-title:empty { display: none; }
.cs-popup .modal-content { padding: 10px; }
.cs-popup table.data-tbl td { height: 35px; }
.cust-pro-img { width: 20%; }
.cust-info { width: 80%; }
.customer-profile .section-hdr { margin: 0 0 15px; }
a.view-btn-pro { float: none; margin: 0 0 20px; position: static; width: 100px; }
}
@media (max-width:639px) {
a.edit-btn-pro { position: absolute; right: 0; top: 0; z-index: 5; }
.cust-pro-img { width: 100%; }
.cust-info { margin: 20px 0 0; padding: 0; width: 100%; }
.cust-info p br { display: none; }
.second-col-1 h4 { width: 100%; margin: 0 0 10px; }
.second-col-1 ul { width: 100%; margin-left: 0; }
.group div[class*="_filter"] { position: static; }

}
@media (max-width:480px) {
.cs-radio input[type="text"] { display: block; margin: 0 0 12px; }
.cs-popup .table-responsive td { font-size: 12px; }
.dataTables_paginate a { margin: 0 0 5px 5px; }
.recen_cont .inner_pdng { padding: 15px 10px; }
.recen_cont .inner_pdng .date.pull-right, .recen_cont .inner_pdng .date.pull-left { font-size: 12px; }
.recen_cont .inner_pdng .date.pull-left { font-size: 11px; }
}
