<div class="sidebar-block">
  <div class="sidebar-wrapper">
    <h2>Feedback</h2>
    <div class="bd">
      <p class="feedback">Did you find this page useful? Do you have a suggestion?
        <a href="https://portal.aws.amazon.com/gp/aws/html-forms-controller/documentation/aws_doc_feedback_04?service_name=AWS%20SDK%20for%20PHP&guide_name=Guide&api_version={{ version }}&file_name={{ pagename }}">Give us feedback</a> or
           send us a <a href="https://github.com/aws/aws-sdk-php">pull request</a> on GitHub.</p>
    </div>
  </div>
</div>

<div class="sidebar-block">
  <div class="sidebar-wrapper">
    <h2>Follow Us</h2>
    <div class="bd">
      <a href="https://twitter.com/awsforphp" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @awsforphp</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <br/>
      <a title="Recent Posts (RSS)" href="http://blogs.aws.amazon.com/php/blog/feed/recentPosts.rss">Recent Blog Posts <img src="{{ pathto('_static/feed-icon.png', 1) }}"></a>
    </div>
  </div>
</div>
