{%- extends "!layout.html" %}

{%- block breadcrumbs %}
{{ super() }}
<!-- REGION_DISCLAIMER_DO_NOT_REMOVE -->
{%- endblock %}

{% block ga %}
{% if theme_google_analytics_account %}
<script type="text/javascript" src="https://media.amazonwebservices.com/amznUrchin.js"></script>
<!-- SiteCatalyst code version: H.25.2.
      Copyright 1996-2012 Adobe, Inc. All Rights Reserved
      More info available at http://www.omniture.com -->
<script language="JavaScript" type="text/javascript" src="https://a0.awsstatic.com/s_code/js/1.0/awshome_s_code.js"></script>
<script language="JavaScript" type="text/javascript">
    s.prop66 = 'AWS SDK for PHP';
    s.eVar66 = 'D=c66';
    // Documentation Guide Name
    s.prop65 = 'API Reference';
    s.eVar65 = 'D=c65';
    var s_code=s.t();if(s_code)document.write(s_code)//-->
</script>
<script language="JavaScript" type="text/javascript">
    <!--
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    //-->
</script>
<noscript>
    <img src="http://amazonwebservices.d2.sc.omtrdc.net/b/ss/awsamazondev/1/H.25.2--NS/0" height="1" width="1" border="0" alt="" />
</noscript>
<!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.25.2. -->
{% endif %}
{% endblock %}
