<div class="sidebar-block">
  <div class="sidebar-wrapper">
    <p class="logo" style="text-align: center">
      <a href="{{ pathto(master_doc) }}">
        <img class="logo" src="{{ pathto('_static/logo.png', 1) }}" alt="Logo" height="63" />
      </a>
    </p>
  </div>
</div>
